/****************************\

  SETUP

\****************************/
.row {
  max-width: 1140px;
  margin: 0 auto;
}


.login {
  height:100vh;
}


/****************************\

  HEADER

\****************************/
.header--logo img {
  height: 20px;
  width: auto;
}

/*.main-nav {
  height: 100px;
  background-color: yellow;
  list-style: none;

}
.main-nav--logo {
  height: 50px;
  width: auto;
  margin-top: 15px;
  float: left;
}
.main-nav--links {
  float:right;
  margin-top: 30px;
}
.main-nav--links li {
  display: inline-block;
  margin-left: 30px;
}
.main-nav--links li a {
  text-decoration: none;
}
*/


/****************************\

  ORDER SHOW PAGE

\****************************/

.ordershow {
  height: 90vh;
}

.left-card {
  height: 100%;
  text-align: center;
}
.left-card--items {
  background-color: white;
}
.left-card--items div {
  padding: 3px 0;
}

.left-card--items div > span {
  text-align: center;
  display: block;
  font-size: 12px;
}

.left-card--items img {
  display: block;
  margin: auto;
  width: 70%;
  height: auto;
}

.middle-card {
  height: 90vh;
}
.middle-card--image {
  width: 70%;
  height: auto;
  padding-top:15px;
}
.middle-card--content {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
.right-card {
  height: 100%;
}
.right-card--input {
  height: 10px;
  font-size: 15px;
}
.right-card--image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}






/****************************\

  GALLERY

\****************************/
.ng-image-gallery .ng-image-gallery-thumbnails .thumb {
    width: 150px;
    height: 150px;
  }





/****************************\

  IMAGE UPLOADER

\****************************/
.thumb {
    width: 50px;
    height: 50px;
    float: none;
    position: relative;
    top: 7px;
}




/****************************\

  ORDER SHOW PAGE

\****************************/
.ordershow--header {
  border-bottom: 2px solid #c0c0c0;
}
.ordershow {
  background-color: #fff;
  padding-top: 20px;
}
.ordershow section {
  padding: 7px 0;
}

.ordershow--left--sub img {
  width: 60px;
  height: auto;
  margin: 7px 5px;
}

.ordershow--left--main img {
  width: 380px;
  height: auto;
}

.ordershow--left--main a {
  margin-top: 35px;
  padding: 10px 0;
  border-bottom: 1px solid #c0c0c0;
  border-top: 1px solid #c0c0c0;
}

.ordershow--right h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.ordershow--price h2, span{
  margin-right: 20px;
}

.ordershow--size div {
  border: 1px dashed #c0c0c0;
}
.ordershow--size--btn {
  border-radius: 10px 0 0 10px;
  font-size: 11px;
  line-height: 24px;
  min-height: 0px;
}

.ordershow--size--chart {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ordershow--qty input {
  width: 35px;
  text-align: center;
  border: 1px solid gray;
}

.ordershow--qty
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ordershow--qty th {
  font-weight: normal;
}

.ordershow--inputs {
  height: 10px;
  font-size: 15px;
}

.ordershow--submit {
  margin-top: 15px;
}


.ordershow--details {
  border-top: 1px solid #c0c0c0;
  padding-top: 10px;
}

.ordershow--details ng-md-icon {
  margin-right: 10px;
}
