<div class="sub-nav"layout="row" layout-margin layout-align="end">
  <a ui-sref="landing">Back</a>
</div>

<div class="section-form" layout="column" flex="40" flex-offset="30" flex-sm="60" flex-offset-sm="20" flex-xs="100" layout-margin>
  <h2>Email Us</h2>
  <div ng-show="error">{{ errorMessage }}</div>
  <form name="contactForm" ng-submit="newContact(contact)" layout="column" flex>
    <md-input-container>
      <label>Name</label>
      <input type="text" name="name" ng-model="contact.name"></input>
    </md-input-container>
    <md-input-container>
      <label>Email</label>
      <input type="text" name="email" ng-model="contact.email"></input>
    </md-input-container>
    <md-input-container>
      <label>Subject</label>
      <input type="text" name="email" ng-model="contact.title"></input>
    </md-input-container>
    <md-input-container>
      <label>Details</label>
      <textarea ng-model="contact.description" md-maxlength="150" rows="3" md-select-on-focus></textarea>
    </md-input-container>

    <input type="submit"></input>
  </form>
</div>
