<div layout="column" layout-margin>
  <h2>dashboard for Admin | see all orders | see all users | <md-button class="md-accent md-raised" ui-sref="ordersNew">Create customer order</md-button></h2>

  <md-toolbar class="md-table-toolbar md-hue-1">
    <div class="md-toolbar-tools">
      <span>All Orders</span>
    </div>
  </md-toolbar>
  <md-table-container>
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column>Id</th>
          <th md-column>title</th>
          <th md-column>Invoice #</th>
          <th md-column>Brand</th>
          <th md-column>Model</th>
          <th md-colunn>Color</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select-id="name" md-auto-select ng-repeat="order in dashboardCtrl.ordersList">
          <td md-cell ui-sref='orderDetails({id: order._id})'>{{order._id}}</td>
          <td md-cell>{{order.title}}</td>
          <td md-cell>{{order.invoice}}</td>
          <td md-cell>{{order.apparel_details.brand}}</td>
          <td md-cell>{{order.apparel_details.model}}</td>
          <td md-cell>{{order.apparel_details.color}}</td>
          <tr>
      </tbody>
    </table>
  </md-table-container>
</div>




