<div class="sub-nav"layout="row" layout-margin layout-align="end">
  <a ui-sref="landing">Back</a>
</div>

<div class="row">
  <h2>Gallery</h2>
</div>

<ng-image-gallery
    images="images"
    methods="methods"
    conf="conf"
    on-open="opened();"
    on-close="closed();">
</ng-image-gallery>

<!--

<section>
  <div class="row">
    <h2>Gallery</h2>
  </div>
  <div class="gallery-main" layout="column" flex="80" flex-offset="10" layout-align="center center">
    <div layout="row">
      <img src="resources/img/gallery_img_6.png" alt="Healthy baguette with egg and vegetables" flex>
      <img src="resources/img/gallery_img_7.png" alt="Burger with cheddar and bacon" flex>
      <img src="resources/img/gallery_img_8.png" alt="Granola with cherries and strawberries" flex>
      <img src="resources/img/gallery_img_9.png" alt="Granola with cherries and strawberries" flex>
    </div>
    <img src="resources/img/gallery_img_10.png" alt="Granola with cherries and strawberries">
    <img src="resources/img/gallery_img_11.png" alt="Granola with cherries and strawberries">
    <img src="resources/img/gallery_img_12.png" alt="Granola with cherries and strawberries">
    <img src="resources/img/gallery_img_13.png" alt="Granola with cherries and strawberries">
    <img src="resources/img/gallery_img_14.png" alt="Granola with cherries and strawberries">
    <img src="resources/img/gallery_img_15.png" alt="Granola with cherries and strawberries">
    <img src="resources/img/gallery_img_16.png" alt="Granola with cherries and strawberries">
    <img src="resources/img/gallery_img_17.png" alt="Granola with cherries and strawberries">
    <img src="resources/img/gallery_img_18.png" alt="Granola with cherries and strawberries">
    <img src="resources/img/gallery_img_19.jpg" alt="Granola with cherries and strawberries">
  </div>
</section>

 -->
