<div class="sub-nav"layout="row" layout-margin layout-align="end">
  <a ui-sref="landing">Back</a>
</div>

<section class="section-gallery">
  <div class="row">
    <h2>Gallery</h2>
  </div>
  <div class="gallery-main" layout="column" layout-align="center center" flex="80" flex-offset="10">
    <img src="resources/img/gallery_img_trans_base.png" alt="Korean bibimbap with egg and">
    <div class="gallery-carousel" layout="row" flex layout-align="space-around center">
      <ng-md-icon icon="keyboard_arrow_left" style="fill: #FF4081" size="60"></ng-md-icon>
      <img  src="resources/img/gallery_img_2.png" alt="Simple italian pizza with cherry tomatoes">
      <img  src="resources/img/gallery_img_3.png" alt="Chicken breast steak with vegetables">
      <img  src="resources/img/gallery_img_4.png" alt="Autumn pumpkin soup">
      <img  src="resources/img/gallery_img_5.png" alt="Paleo beef steak with vegetables">
      <img  src="resources/img/gallery_img_6.png" alt="Healthy baguette with egg and vegetables">
      <img  src="resources/img/gallery_img_7.png" alt="Burger with cheddar and bacon">
      <img  src="resources/img/gallery_img_8.png" alt="Granola with cherries and strawberries">
      <ng-md-icon icon="keyboard_arrow_right" style="fill: #FF4081" size="60"></ng-md-icon>
    </div>
    <!-- <div layout='row'>
      <img src="resources/img/gallery_img_6.png" alt="Healthy baguette with egg and vegetables">
      <img src="resources/img/gallery_img_7.png" alt="Burger with cheddar and bacon">
      <img src="resources/img/gallery_img_8.png" alt="Granola with cherries and strawberries">
    </div>
    <div layout="row">
      <img src="resources/img/gallery_img_9.png" alt="Granola with cherries and strawberries">
      <img src="resources/img/gallery_img_10.png" alt="Granola with cherries and strawberries">
      <img src="resources/img/gallery_img_11.png" alt="Granola with cherries and strawberries">
      <img src="resources/img/gallery_img_12.png" alt="Granola with cherries and strawberries">
    </div>
    <div layout="row">
      <img src="resources/img/gallery_img_13.png" alt="Granola with cherries and strawberries">
      <img src="resources/img/gallery_img_14.png" alt="Granola with cherries and strawberries">
      <img src="resources/img/gallery_img_15.png" alt="Granola with cherries and strawberries">
      <img src="resources/img/gallery_img_16.png" alt="Granola with cherries and strawberries">
    </div>
    <div layout="row">
      <img src="resources/img/gallery_img_17.png" alt="Granola with cherries and strawberries">
      <img src="resources/img/gallery_img_18.png" alt="Granola with cherries and strawberries">
      <img src="resources/img/gallery_img_19.jpg" alt="Granola with cherries and strawberries">
    </div> -->
  </div>
  <!-- <ul class="gallery-showcase clearfix">
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_trans_base.png" alt="Korean bibimbap with egg and vegetables">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_2.png" alt="Simple italian pizza with cherry tomatoes">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_3.png" alt="Chicken breast steak with vegetables">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_4.png" alt="Autumn pumpkin soup">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_5.png" alt="Paleo beef steak with vegetables">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_6.png" alt="Healthy baguette with egg and vegetables">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_7.png" alt="Burger with cheddar and bacon">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_8.png" alt="Granola with cherries and strawberries">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_9.png" alt="Granola with cherries and strawberries">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_10.png" alt="Granola with cherries and strawberries">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_11.png" alt="Granola with cherries and strawberries">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_12.png" alt="Granola with cherries and strawberries">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_13.png" alt="Granola with cherries and strawberries">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_14.png" alt="Granola with cherries and strawberries">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_15.png" alt="Granola with cherries and strawberries">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_16.png" alt="Granola with cherries and strawberries">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_17.png" alt="Granola with cherries and strawberries">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_18.png" alt="Granola with cherries and strawberries">
      </figure>
    </li>
    <li>
      <figure class="gallery-figure">
        <img src="resources/img/gallery_img_19.jpg" alt="Granola with cherries and strawberries">
      </figure>
    </li>
  </ul> -->
</section>
