<!-- <nav>
  <div class="row">
    <div class="main-nav">
      <img class="main-nav--logo" src="resources/img/logo-pink.png">
      <ul class="main-nav--links">
        <li><a href="">Home</a></li>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Signup</a></li>
        <li><a href="">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

 -->


<md-toolbar flex>
  <div class="md-toolbar-tools header--logo" layout="row" sticky-text flex>
    <img src="resources/img/logo-pink.png" hide-xs>
    <span flex></span>
    <md-button ui-sref="landing">Home</md-button>
    <!-- <md-button ui-sref="home.dashboard">Dashboard</md-button> -->
    <!-- <md-button ui-sref="signup">Signup</md-button> -->
    <md-button ui-sref="login">Login</md-button>
  </div>
</md-toolbar>

