<md-toolbar id="header" class="md-primary md-hue-1" flex>
  <div class="md-toolbar-tools header--logo" layout="row" sticky-text flex>
    <img src="resources/img/logo-pink.png" hide-xs>
    <span flex></span>
    <a class="md-caption" href="">Testing</a>
    <md-button class="md-caption" ui-sref="landing">Home</md-button>
    <md-button ui-sref="home.dashboard">Dashboard</md-button>
    <!-- <md-button ui-sref="signup">Signup</md-button> -->
    <md-button ui-sref="login">Login</md-button>
  </div>
</md-toolbar>

