<header id="home" layout="column">
  <nav>
    <div layout="row" layout-align="space-between" flex="80" flex-offset="10"
          flex-offset-sm="0" flex-sm="100" layout-align-sm="center"
          flex-offset-xs="0" flex-xs="100" layout-align-xs="center">
      <img src="resources/img/logo-purple.png" class="logo" hide-sm hide-xs>
      <!-- <img src="resources/img/logo-pink.png" class="logo-black" hide-sm> -->
      <ul class="main-nav" layout="row">
        <li><a ui-sref="gallery">Gallery</a></li>
        <li><a ui-sref="contact">Contact</a></li>
        <li><a ui-sref="login">Login</a></li>
        <!-- <li><a ui-sref="signup">Register</a></li> -->
        <!-- <li><a ng-click="logout()" ng-if="false">Logout</a></li> -->
      </ul>
    </div>
  </nav>
  <div class="hero-text-box" layout="column" layout-align="center start" flex="80" flex-offset="10"      layout-align-sm="center center" flex-offset-sm="0"
        flex-offset-xs="0" layout-sm="" layout-wrap ng-cloak>
    <h1>Custom Designed T-shirts!</h1>
    <h3>Students, startups, restaurants, local businesses and more.</h3>
    <div layout-xs="row">
      <a class="test btn btn-full" href="" ng-click="scrollTo('section-plans')">Price Quote</a>
      <a class="test btn btn-ghost" href="" ng-click="scrollTo('section-steps')">Details</a>
    </div>
  </div>
</header>

<section id="section-steps" class="section-steps">
  <div layout="row" layout-align="center">
    <h2>How it works - Simple as 1, 2, 3</h2>
  </div>
  <div layout="row" layout-xs="column">
    <div class="steps-box" flex>
      <img src="resources/img/example-tee-transparent.png" alt="example screen">
    </div>
    <div class="steps-box" flex>
      <div class="work-steps">
        <div>1</div>
        <p>Choose garment and submit design</p>
      </div>
      <div class="work-steps">
        <div>2</div>
        <p>Recieve a quote</p>
      </div>
      <div class="work-steps">
        <div>3</div>
        <p>Give approval for printing!</p>
      </div>
      <p>We are happy to help! Please contact us for more details.</p>
      <!-- <a href="#" class="btn-app">Ordering for your school class?</a> -->
      <!-- <a href="#" class="btn-app"><img src="resources/img/download-app-android.png" alt="app store button"></a> -->
    </div>
  </div>
</section>

<section class="section-items">
  <div class="dialog--items__open" layout="column" flex="70" flex-offset="15"
        flex-offset-sm="0" flex-sm="100"
        flex-offset-xs="0" flex-xs="100">
    <h2>Items we carry</h2>
    <ul class="items--product">
      <li>
        <img src="resources/img/product_longsleeve.jpeg">
        <a ng-click="mainCtrl.isDisabled || mainCtrl.showItemsDialog($event)"><span>Long Sleeves</span></a>
      </li>
      <li>
        <img src="resources/img/product_tank.jpg">
        <a ng-click="mainCtrl.isDisabled || mainCtrl.showItemsDialog($event)"><span>Ladies and Juniors</span></a>
      </li>
      <li>
        <img src="resources/img/product_pullover_hoodie.jpg">
        <a ng-click="mainCtrl.isDisabled || mainCtrl.showItemsDialog($event)"><span>Athletics</span></a>
      </li>
    </ul>
    <ul class="items--product">
      <li>
        <img src="resources/img/product_tshirt.jpeg">
        <a ng-click="mainCtrl.isDisabled || mainCtrl.showItemsDialog($event)"><span>Unisex T-Shirts</span></a>
      </li>
      <li>
        <img src="resources/img/product_polo.jpeg">
        <a ng-click="mainCtrl.isDisabled || mainCtrl.showItemsDialog($event)"><span>Polos</span></a>
      </li>
      <li>
        <img src="resources/img/product_zip.jpeg">
        <a ng-click="mainCtrl.isDisabled || mainCtrl.showItemsDialog($event)"><span>Zip Hoodies</span></a>
      </li>
    </ul>
    <div class="items--dialog--btn" hide-md hide-gt-md>
      <a href="" class="btn btn-ghost dialog--group__open" ng-click="mainCtrl.showItemsDialog($event)">see more</a>
    </div>
  </div>
  <div class="items--brand" layout="row" layout-padding layout-wrap layout-align="center center"
       flex="70" flex-offset="15"
       flex-offset-sm="0" flex-sm="100"
       flex-offset-xs="0" flex-xs="100" layout-xs="column">
    <img src="resources/img/aa.png" alt="American Apparel">
    <img src="resources/img/next level.jpg" alt="Next Level Apparel">
    <img src="resources/img/bella_canvas.jpeg" alt="Bella+Canvas">
    <img src="resources/img/independent.jpg" alt="Independent Trading Co.">
    <img src="resources/img/gildan.png" alt="Gildan">
  </div>


</section>

<section id="section-group" class="section-group">
  <div layout="column">
    <h2>Group ordering - Spot on sizing</h2>
    <p class="long-copy">Each member of your group can pick their own size using our online form to accurately predict quantity before printing your order.</p>
  </div>
  <div class="group--items" layout="row" layout-margin layout-padding layout-align="center" layout-xs="column">
    <div class="box">
      <img src="resources/img/group_icon_thin_1.png" alt="Icon 1">
      <h4>Design group shirt</h4>
    </div>
    <div class="box">
      <img src="resources/img/group_icon_thin_2.png" alt="Icon 2">
      <h4>Share with group members</h4>
    </div>
    <div class="box">
      <img src="resources/img/group_icon_thin_3.png" alt="Icon 3">
      <h4>Collect sizes online</h4>
    </div>
  </div>
  <div class="group--btn">
    <a href="" class="btn btn-ghost dialog--group__open" ng-click="mainCtrl.showDialog($event)">coming soon!</a>
  </div>

</section>

<section id="section-plans" class="section-plans">
  <div layout="column" flex>
    <h2>General Guide and Estimate</h2>
  </div>
  <div layout="row" flex="70" flex-offset="15" flex-offset-sm="0" flex-sm="100" layout-xs="column" flex-xs="80" flex-offset-xs="10">
    <div class="plan-box" layout="column" flex layout-margin>
      <div>
        <h3>Money Saver</h3>
        <p class="plan-price">$<span></span></p>
        <p class="plan-price-meal">$7 - 8</p>
      </div>
      <div>
        <ul>
          <li><ng-md-icon icon="whatshot" style="fill: #FF4081" size="20"></ng-md-icon>student favorite</li>
          <li><ng-md-icon icon="done" style="fill: #FF4081" size="20"></ng-md-icon>Brand: Gildan</li>
          <li><ng-md-icon icon="done" style="fill: #FF4081" size="20"></ng-md-icon>No. of Colors: 1-3</li>
          <li><ng-md-icon icon="done" style="fill: #FF4081" size="20"></ng-md-icon>free delivery</li>
        </ul>
      </div>
    </div>
    <div class="plan-box" layout="column" flex layout-margin>
      <div>
        <h3>Standard</h3>
        <p class="plan-price">$$<span></span></p>
        <p class="plan-price-meal">$8 - 9</p>
      </div>
      <div>
        <ul>
          <li><ng-md-icon icon="done" style="fill: #FF4081" size="20"></ng-md-icon>Brand: Bella, Next Level</li>
          <li><ng-md-icon icon="done" style="fill: #FF4081" size="20"></ng-md-icon>No. of Colors: 1-3</li>
          <li><ng-md-icon icon="done" style="fill: #FF4081" size="20"></ng-md-icon>access to newest creation</li>
          <li><ng-md-icon icon="done" style="fill: #FF4081" size="20"></ng-md-icon>free delivery</li>
        </ul>
      </div>
    </div>
    <div class="plan-box" layout="column" flex layout-margin>
      <div>
        <h3>Premium</h3>
        <p class="plan-price">$$$<span></span></p>
        <p class="plan-price-meal">$9 - 10</p>
      </div>
      <div>
        <ul>
          <li><ng-md-icon icon="done" style="fill: #FF4081" size="20"></ng-md-icon>Brand: American Apparel</li>
          <li><ng-md-icon icon="done" style="fill: #FF4081" size="20"></ng-md-icon>No. of Colors: 1-3</li>
          <li><ng-md-icon icon="done" style="fill: #FF4081" size="20"></ng-md-icon>access to newest creation</li>
          <li><ng-md-icon icon="done" style="fill: #FF4081" size="20"></ng-md-icon>free delivery</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section--callToAction">
  <div flex layout="row" layout-align="center" layout-margin layout-xs="column" layout-align-xs="center center">
    <a class="btn btn-ghost" ui-sref="gallery">Gallery</a>
    <a class="btn btn-ghost" ui-sref="contact">Contact/Quote</a>
    <a class="btn btn-ghost" href="" ng-click="scrollTo('home')">Home</a>
  </div>
</section>

<footer>
  <div layout="row" flex="80" flex-offset="10" layout-align="space-between"
        flex-xs="100" flex-offset-xs="0" layout-align-xs="space-around">
    <ul class="footer-nav" layout-xs="column">
      <li><a href="">About us</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Press</a></li>
    </ul>
    <ul class="social-links" layout-xs="column">
      <li><a href=""><i class="ion-social-facebook">fb</i></a></li>
      <li><a href=""><i class="ion-social-twitter">twitter</i></a></li>
      <li><a href=""><i class="ion-social-instagram">Instagram</i></a></li>
      <li><a href=""><i class="ion-social-google"></i></a></li>
    </ul>
  </div>
  <div layout="row" layout-align="center center">
    <p>Copyright &copy; 2016 Ink Laundry. All rights reserved</p>
  </div>
</footer>
