<div layout="row" layout-align="center">
  <h1 class="md-display-1 ordershow--header">Group Order Form</h1>
</div>
<div class="ordershow" layout="row" layout-margin layout-align="center start" flex>
  <div layout="row" flex="30">
    <div class="left--sub" layout="column">
      <img src="{{thumbImg.digitalProof}}" ng-repeat="thumbImg in orderCtrl.orderDetails.views" ng-click="orderCtrl.changeView(thumbImg)">
    </div>
    <div class="left--main" layout="column" layout-align="start center">
      <img src="{{orderCtrl.currentView.digitalProof}}">
      <div class="left--main--quest" layout="row" layout-align="center center">
        <ng-md-icon icon="help_outline" style="fill: #FF4081" size="20"></ng-md-icon>
        <md-button class="md-primary md-hue-2" ng-href="{{googleUrl}}" target="_blank">
          <span class="md-caption">Questions? Contact Group</span>
        </md-button>
      </div>
    </div>
  </div>
  <div class="ordershow--right" layout="column" flex="30">
    <h1 class="md-headline">{{orderCtrl.orderDetails.title}}</h1>
    <section class="ordershow--price" layout="row" layout-align="start center">
      <h2 class="md-title">${{orderCtrl.orderDetails.price}}</h2>
      <span class="md-caption">Order #{{orderCtrl.orderDetails._id}}</span>
      <span class="md-caption">Free Shipping</span>
    </section>
    <section class="ordershow--size" layout="row" layout-align="start center" flex>
      <label class="md-subhead" flex="25">Available Sizes:</label>
      <div flex>
        <md-button class="ordershow--size--btn md-accent md-raised" ng-click="orderCtrl.changeQty('xsmall')">X-Small</md-button>
        <md-button class="ordershow--size--btn md-accent md-raised" ng-click="orderCtrl.changeQty('small')">Small</md-button>
        <md-button class="ordershow--size--btn md-accent md-raised" ng-click="orderCtrl.changeQty('medium')">Medium</md-button>
        <md-button class="ordershow--size--btn md-accent md-raised" ng-click="orderCtrl.changeQty('large')">Large</md-button>
        <md-button class="ordershow--size--btn md-accent md-raised" ng-click="orderCtrl.changeQty('xlarge')">X-Large</md-button>
        <md-button class="ordershow--size--btn md-accent md-raised" ng-click="orderCtrl.changeQty('xxlarge')">XX-Large</md-button>
      </div>
    </section>

    <div layout="row" flex-offset="25" layout-align="start center">
      <ng-md-icon icon="insert_chart" style="fill: #FF4081" size="20"></ng-md-icon>
      <md-button class="md-primary md-hue-2" target="_blank"><span class="md-caption">size chart</span></md-button>
    </div>

    <section class="ordershow--qty" layout="row" flex>
      <label class="md-subhead" flex="25">Qty:</label>
      <table>
        <thead>
          <tr>
            <th class="md-caption">XS</th>
            <th class="md-caption">S</th>
            <th class="md-caption">M</th>
            <th class="md-caption">L</th>
            <th class="md-caption">XL</th>
            <th class="md-caption">XXL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="number" placeholder="{{orderCtrl.size.xsmall}}" ng-model="orderCtrl.size.xsmall"></input></td>
            <td><input type="number" placeholder="{{orderCtrl.size.small}}" ng-model="orderCtrl.size.small"></input></td>
            <td><input type="number" placeholder="{{orderCtrl.size.medium}}" ng-model="orderCtrl.size.medium"></input></td>
            <td><input type="number" placeholder="{{orderCtrl.size.large}}" ng-model="orderCtrl.size.large"></input></td>
            <td><input type="number" placeholder="{{orderCtrl.size.xlarge}}" ng-model="orderCtrl.size.xlarge"></input></td>
            <td><input type="number" ng-model="orderCtrl.size.xxlarge"></input></td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="ordershow--color" layout="row" layout-align="start center" flex>
      <label class="md-subhead" flex="25">Color:</label>
      <span class="md-body-1">{{orderCtrl.orderDetails.apparel_details.color | uppercase}}</span>
    </section>

    <section class="ordershow--color" layout="row" layout-align="start center" flex>
      <label class="md-subhead" flex="25">Days Left:</label>
      <span class="md-body-1">10</span>
    </section>

    <section layout="column" flex flex-offset="25">
      <md-input-container class="ordershow--inputs md-accent">
        <label>Name</label>
        <input type="text" ng-model="orderCtrl.groupOrder.name">
      </md-input-container>
      <md-input-container class="ordershow--inputs md-accent">
        <label>Email</label>
        <input type="text" ng-model="orderCtrl.groupOrder.email">
      </md-input-container>
      <md-input-container class="ordershow--inputs md-accent">
        <label>Student ID (if available)</label>
        <input type="text" ng-model="orderCtrl.groupOrder.studentId">
      </md-input-container>
    </section>

    <md-button class="ordershow--submit md-accent md-raised" ng-click="orderCtrl.newGroupOrder()" flex flex-offset="25">Submit</md-button>

    <!-- <form class="ordershow--paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" flex flex-offset="20">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="ZURSLQF2TQRPQ">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form> -->
  </div>
</div>

<div layout="row">
  <div class="ordershow--details" layout="column" flex="30" flex-offset="50">
    <div layout="row" layout-align="center center">
      <ng-md-icon icon="details" style="fill: #FF4081" size="25"></ng-md-icon>
      <h1 class="md-subhead" flex>Product Details:</h1>
    </div>
    <p style="text-align: justify;">Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
  </div>
</div>
